body {
    background-image: url("https://w0.peakpx.com/wallpaper/323/21/HD-wallpaper-plain-white-abstract.jpg");
    background-color: rgba(252, 236, 215, 0.2);
    background-repeat: no-repeat;
    background-size: cover;
}

.search-container {
    margin: 20px 10px;
    display: flex;
}

.profile {
    width: 200px;
}

.search {
    width: 77%;
    height: 35px;
    font-size: 15px;
    border: 2px solid rgba(54, 54, 56, 0.1);
    border-radius: 8px;
    color: rgb(139, 139, 139);
}

.search:focus {
    border: 2px solid skyblue;
}

.submit {
    padding: 9px 16px;
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid rgba(95, 94, 94, 0.1);
    background-color: rgb(157, 201, 250);
}

.submit:hover {
    background-color: rgb(178, 240, 240);
    position: relative;
    bottom: 1px;
    transition-duration: 1s;
}

.submit:focus {
    border: none;
}

.app {
    background-color: rgb(142, 243, 196);
}

.search-bar {
    width: 90%;
}

ol {
    border: 2px solid;
    width: 100px;
    padding: 0%;
    background-color: rgba(244, 249, 147, 0.3);
    color: white;
    border-radius: 10px;
    padding: 0%;
}

ol li {
    list-style: none;
    padding-top: 20px;
    font-size: 16px;
    text-transform: uppercase;
}

ol li a {
    color: rgb(20, 20, 20);
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 1px solid rgb(143, 142, 142);
}

ol li a:hover {
    /* text-decoration: underline; */
    transition-duration: 1s;
    padding-bottom: 6px;
}

#btn {
    cursor: pointer;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 50%;
    border: 2px solid rgb(251, 239, 216);
}

.list {
    position: relative;
    left: -190px;
    background-color: rgba(169, 207, 250, 0.411);
    height: auto;
    padding-bottom: 20px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

span {
    font-style: italic;
}

svg {
    width: 20px;
}

.nav {
    background-color: rgba(4, 17, 105, 0.495);
    padding: 6px 10px;
    border-top-right-radius: 5px;
    width: 85%;
    border-bottom-right-radius: 5px;
}

.details {
    display: flex;
    margin-top: 20px;
    background-color: rgba(128, 162, 168, 0.3);
    width: 90%;
    padding: 20px 40px;
    border-radius: 5px;
    width: 79%;
}

.details:hover {
    position: relative;
    bottom: 2px;
    filter: drop-shadow(12px 12px 3px rgb(150, 148, 148, 0.7));
}

.detail {
    width: 80%;
    display: flex;
}

.detail+div {
    position: relative;
    top: 50px;
}

.detail p {
    font-size: 17px;
    width: 350px;
    font-weight: bold;
}

.detail p span {
    font-weight: 100;
}

.msg {
    font-family: inherit;
    font-size: 20px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
}

.msg span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

.msg svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

.msg:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

.msg:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.msg:hover span {
    transform: translateX(5em);
}

.msg:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}